<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>MBTI</title>
        <!-- boxicon cdn -->
        <link
            href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
            rel="stylesheet"
        />

        <!-- Bootstrap CDN + JQuery Link -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>

        <!-- css in static folder-->
        <link rel=stylesheet type=text/css href="{{ url_for('static',
        filename='mbti.css') }}">
    </head>
    <body>
        <div class="whole_page">
            <div class="registration">
                <h1>MBTI 타입을 골라주세요!</h1>
            </div>
            <div class="mbti">
                <div class="row first">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front one">
                                <h1>INTJ</h1>
                                <h2>과학자형</h2>
                                <p>
                                    전체적인 부분을 조합하여 비전을 제시하는
                                    사람들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/INTJ.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front two">
                                <h1>INTP</h1>
                                <h2>아이디어 뱅크형</h2>
                                <p>
                                    비평적인 관점을 가지고 있는 뛰어난 전략가들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/INTP.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front three">
                                <h1>ENTJ</h1>
                                <h2>지도자형</h2>
                                <p>
                                    비전을 가지고 사람들을 활력적으로 이끌어가는
                                    사람들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ENTJ.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front four">
                                <h1>ENTP</h1>
                                <h2>발명가형</h2>
                                <p>
                                    풍부한 상상력을 가지고 새로운 것에 도전하는
                                    사람들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ENTP.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row second">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front five">
                                <h1>INFJ</h1>
                                <h2>예언자형</h2>
                                <p>
                                    사람과 관련된 뛰어난 통찰력을 가지고 있는
                                    사람들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/INFJ.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front six">
                                <h1>INFP</h1>
                                <h2>잔다르크형</h2>
                                <p>이상적인 세상을 만들어 가는 사람들</p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/INFP.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front seven">
                                <h1>ENFJ</h1>
                                <h2>언변능숙형</h2>
                                <p>타인의 성장을 도모하고 협동하는 사람들</p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ENFJ.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front eight">
                                <h1>ENFP</h1>
                                <h2>스파크형</h2>
                                <p>열정적으로 새로운 관계를 만드는 사람들</p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ENFP.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row third">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front nine">
                                <h1>ISTJ</h1>
                                <h2>세상의 소금형</h2>
                                <p>한번 시작한 일은 끝까지 해내는 사람들</p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ISTJ.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front ten">
                                <h1>ISFJ</h1>
                                <h2>임금 뒷편의 권력형</h2>
                                <p>성실하고 온화하며 협조를 잘하는 사람들</p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ISFJ.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front ten">
                                <h1>ESTJ</h1>
                                <h2>사업가형</h2>
                                <p>
                                    사무적, 실용적, 현실적으로 일을 많이하는
                                    사람들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ESTJ.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front eleven">
                                <h1>ESFJ</h1>
                                <h2>친선도모형</h2>
                                <p>
                                    친절과 현실감을 바탕으로 타인에게 봉사하는
                                    사람들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ESFJ.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row fourth">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front twelve">
                                <h1>ISTP</h1>
                                <h2>백과사전형</h2>
                                <p>
                                    논리적이고 뛰어난 상황 적응력을 가지고 있는
                                    사람들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ISTP.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front thirteen">
                                <h1>ISFP</h1>
                                <h2>성인군자형</h2>
                                <p>따뜻한 감성을 가지고 있는 겸손한 사람들</p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ISFP.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front fourteen">
                                <h1>ESTP</h1>
                                <h2>수완좋은 활동가형</h2>
                                <p>
                                    친구, 운동, 음식 등 다양한 활동을 선호하는
                                    사람들
                                </p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ESTP.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front sixteen">
                                <h1>ESFP</h1>
                                <h2>사교적 유형</h2>
                                <p>분위기를 고조시키는 우호적 사람들</p>
                            </div>
                            <div class="flip-card-back">
                                <img
                                    src="/static/ESFP.jpg"
                                    alt="Avatar"
                                    style="width: 250px; height: 250px"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Javascript in static folder -->
        <script src="{{ url_for('static', filename='mbti.js') }}"></script>
    </body>
</html>
