<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>welcome {{user}}</title>
        <!-- Bootstrap CDN + JQuery Link -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <!-- css in static folder-->
        <link rel=stylesheet type=text/css href="{{ url_for('static',
        filename='user.css') }}">
    </head>
    <body>
        <div class="whole-page">
            <div class="welcome">
                <p><span id="email">{{user}}</span>님 환영합니다!</p>
                <p>
                    당신의 MBTI유형은: <span id="mbti">{{mbti}}</span> 입니다.
                </p>
            </div>
            <div class="celeb">
                <p class="celeb-title">당신과 같은 성향의 연예인들은:</p>
                <p id="append"></p>
            </div>
        </div>
        <!-- script -->
        <script src="{{ url_for('static', filename='user.js') }}"></script>
    </body>
</html>
